.div{border: 1px solid red;width: 100px;height: 100px}
.wrapper{
    position: relative;
    display: inline-block;
}
.popover{
    position: absolute;
    left: 100%;
    top: 0;
    border: 1px solid red;
    white-space: nowrap;
    padding:10px;
    margin-left: 10px;
    display:none;
}
.popover::before{
    content:"";
    border: 10px solid transparent;
    border-right-color:red; 
    position:absolute;
    top: 5px;
    right: 100%;
}
.popover::after{
    content:"";
    border: 10px solid transparent;
    border-right-color:white; 
    position:absolute;
    top: 5px;
    right: 100%;
    margin-right: -1px;
}